@import url('https://fonts.google.com/specimen/Young+Serif');
@import url('https://fonts.google.com/specimen/Outfit');
body{
    background-color: hsl(30, 54%, 90%);
    min-height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;  
    align-items: center;
    
}
.container{
    background-color: white;
    border-radius: 10px;
    min-height: auto;
    padding: 10px;
    max-width: 400px;
}
.card{
    border-radius: 10px;
    padding: 10px;
}
.card img{
    width: 100%;
    border-radius: 20px;
}

p{
    font-size: 14px;
    font-family: 'outfit',sans-serif;
    
}
.Preparation-time{
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
}
.Preparation-time h3{
    color: hsl(332, 51%, 32%);
    font-weight: 400;
    margin-bottom: 10px;
}
ul,ol{
    padding-left: 20px;
}
ul li,ol li{
    line-height: 2rem;
    color: var(--Dark-charcoal);
}

h2{
    color: hsl(14, 45%, 36%);
    font-family: 'young Serif', serif;
    font-weight: 400;
    margin-bottom: 1rem;
}
ol li{
    margin-bottom: 10px;
    line-height: 1.5rem;
}

.table{
    display: flex;
    flex-direction: column;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.line{
    border-bottom: 1px;
    border-width: 1px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-inline-end: none;
}
.colorful{
    color: hsl(14, 45%, 36%);
    font-weight: bolder;
    font-style: normal;
    font-family: "young serif",serif;
}
